@{
    ViewData["Title"] = "Soccer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SoccerOrganizer.Models.Division

<h2>Edit</h2>
<hr />
<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DivisionId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.SkillLevel)
    @Html.EditorFor(model => model.SkillLevel)

    @Html.LabelFor(model => model.MaxTeams)
    @Html.EditorFor(model => model.MaxTeams)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>